.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .picture {
    animation: peptide-pic-spin infinite 8s linear;
    height: auto;
    width: 5%;
    right: 5px;
  }
}

.App-header {
  background-color: rgb(54, 98, 106);
  border-bottom: 4px ridge saddlebrown;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  top: 200px;
  color: white;

}
.companyName{
  display: flex;
  /* flex-direction: column; */
  margin-right: 10px;
  font-style: italic;
  font-family: cursive;
}

.picture{
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin-right: 5px;
}

@keyframes peptide-pic-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.atmOne, .atmTwo, .atm3_4, .atm5_10, .atm13_18, .atm11_12, .atm19_36, .atm37_54, .atm54_56, .atm87_88, .atm72_86, .atm104_118, .atm89_103, .atm58_71{
  height: 70px;
  font-size: 20px;
  font-weight: bolder;
}
.atomicNumberStyling{
  position: relative;
  display: flex;
  justify-content: left;
  top: -10px;
  font-size: 14px;
  font-weight: lighter;
}
.atmOne{
  border-radius: 0%;
  border: 2px solid black;
  background-color: bisque;
  position: relative;
  width: calc(1/18*100%);
}
.atmTwo{
  border-radius: 0%;
  border: 2px solid black;
  background-color: bisque;
  position: relative;
  left: calc(16/18*100%);
  width: calc(1/18*100%);
  
}
.atm3_4, .atm11_12, .atm19_36, .atm37_54, .atm54_56, .atm87_88{
  border-radius: 0%;
  border: 2px solid orangered;
  background-color: bisque;
  position: relative;;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(1/18*100%);
}
/* the easiest way to address the positioning problem is to encapsulate each set of buttons in a div and then use display: flex-start/ flex-end on each set of buttons */
.atm5_10, .atm13_18{
  border-radius: 0%;
  border: 2px solid lightslategray;
  background-color: bisque;
  position: relative;
  right: 0;
  left: 55.5%;
  top: 0;
  bottom: 0;
  width: calc(1/18*100%);
}
.atm72_86, .atm104_118{
  border-radius: 0%;
  border: 2px solid orangered;
  background-color: bisque;
  position: relative;
  right: 0;
  left: calc(1/18*100%);
  top: 0;
  bottom: 0;
  width: calc(1/18*100%);
}
.atm58_71{
  /* actinides */
  border-radius: 0%;
  border: 2px solid orange;
  background-color: bisque;
  position: relative;
  right: 0;
  left: calc(2.5/18*100%);
  top: 10px;
  bottom: 0;
  width: calc(1/18*100%);
}
.atm89_103{
  /* lanthanides */
  border-color: yellow;
  border-radius: 0%;
  background-color: bisque;
  position: relative;
  right: 0;
  left: calc(2.18/18*100%);
  top: 10px;
  margin-bottom: 2%;
  width: calc(1/18*100%);
}

/* periodic table as a whole */
.table{
  position: relative;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color:lightgray;
}
.output{
  color: white;
  background-color: rgb(54, 98, 106);
  border: 4px ridge saddlebrown;
  border-bottom: none;
  position: absolute;
  top: 17px;
  width: calc(8.75/18*100%);
  height: auto;
  left: calc(2.71/18*100%);
  font-size: 14px;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
}

.outputStylingSymbol{
  width: 80px;
}
.outputStylingName{
  width: 150px;
}
.outputStylingAtomicMass{
  width: 210px;
}
.outputStylingAtomicNumber{
  width: 150px;
}
.writeup{
  border: 4px groove saddlebrown;
  height: 150px;
  margin: 15px 25%;
  padding: 10px;
  color: white;
  background-color: rgb(54, 98, 106);
  position: absolute;
  width: calc(8.4/18*100%);
  right: calc(2.04/18*100%);
  top: 40px;
}
